* {
    margin: 0;
    padding: 0;
}

body {                          /* 바디가 전체를 차지하게 설정 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

img {
    max-width: 100%;
}